.DS_Store
Archive/*

Project1b/Covid\ Dataset.csv

Project_Two/Covid\ Dataset.csv

Project_Three/ObesityDataSet_raw_and_data_sinthetic.csv
Project_Three/overweightTree.png

Project_Four/wine-quality-white-and-red\ 2.csv